<h1>Topics</h1>


<% @topics.each do |topic| %>
  Title: <%= link_to topic.name , topic_path(topic)  %><br>
  created by: <%= topic.user.email %><br><br>

<% end %>

<%= link_to "CREATE A NEW TOPIC" , new_topic_path %>

